<div class="mb-3">
  <label for="species">Species</label>
  <select [(ngModel)]="selectedSpecies" class="form-select" id="species">
    <option value="" disabled selected>Select a species</option>
    @for (s of speciesOptions; track s){
      <option [value]="s">{{ s }}</option>
    }
  </select>
</div>

<div class="mb-3">
  <label for="class">Class</label>
  <select [(ngModel)]="selectedClass" class="form-select" id="class">
    <option value="" disabled selected>Select a class</option>
    @for (c of classOptions; track c){
      <option [value]="c">{{ c }}</option>
    }
  </select>
</div>

<div class="mb-3">
  <label for="gender">Gender</label>
  <select [(ngModel)]="selectedGender" class="form-select" id="gender">
    <option value="" disabled selected>Select a gender</option>
    @for (g of genderOptions; track g){
      <option [value]="g">{{ g }}</option>
    }
  </select>
</div>

<button (click)="generateCharacter()" [disabled]="isLoading" class="btn btn-primary">
  {{ isLoading ? 'Generating...' : 'Generate Character' }}
</button>

@if (isLoading){
  <!-- 👇 show loading div -->
  <div class="loading">
    <div class="alert alert-info mt-3">Generating your hero... please wait!</div>
    <div class="spinner"></div>
  </div>
}

@if (error && !isLoading){
  <div class="error">{{ error.status +": "+ error.message }}</div>
  <div class="error">{{ error.detailedMessage }}</div>
}

@if (result && !isLoading){
  <div class="card mt-4 p-3">
    <h5>Generated Character</h5>
    <p>{{ result.description }}</p>
    @if (result.imageUrl){
      <img ngSrc="{{result.imageUrl}}" class="rounded mx-auto d-block" alt="character image" width="400" height="700"/>
    }
  </div>
}

