/* Global styles for the Angular app */

html, body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa; /* Bootstrap light gray background */
}

.container {
  max-width: 960px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: #343a40; /* Bootstrap dark gray */
}
/* You can add global styles to this file, and also import other style files */
